
{% extends "header.html" %} 
  {% load static %}
  {% block content %} 
  <link href="{% static 'anomaly.css' %}" rel="stylesheet">


  <main id="main" class="main">

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style="color:#3e4f6f">Detailed Reports</h5>

              <!-- Default Accordion --><div class="accordion" id="accordionExample">
              {% for anomaly in anomalies %}
              <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ anomaly.id }}">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ anomaly.id }}" aria-expanded="false" aria-controls="collapse{{ anomaly.id }}">
                    Anomaly #{{ anomaly.id }}
                  </button>
                </h2>
                <div id="collapse{{ anomaly.id }}" class="accordion-collapse collapse" aria-labelledby="heading{{ anomaly.id }}" data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Source IP</td>
                          <td>{{ anomaly.src_ip }}</td>
                        </tr>
                        <tr>
                          <td>Destination IP</td>
                          <td>{{ anomaly.dst_ip }}</td>
                        </tr>
                        <tr>
                          <td>Source Port</td>
                          <td>{{ anomaly.src_port}}</td>
                        </tr>
                        <tr>
                          <td>Destination Port</td>
                          <td>{{ anomaly.dst_port }}</td>
                        </tr>
                        <tr>
                          <td>Payload Size</td>
                          <td>{{ anomaly.payload_size }}</td>
                        </tr>
                        <tr>
                          <td>Protocol</td>
                          <td>{{ anomaly.protocol }}</td>
                        </tr>
                        <tr>
                          <td>Num Packets Source</td>
                          <td>{{ anomaly.num_pkts_src }}</td>
                        </tr>
                        <tr>
                          <td>Num Packets Destination</td>
                          <td>{{ anomaly.num_pkts_dst }}</td>
                        </tr>
                        <tr>
                          <td>modbus function code</td>
                          <td>{{ anomaly.modbus_function_code}}</td>
                        </tr>
                        <tr>
                          <td>Resistance 1</td>
                          <td>{{ anomaly.R1 }}</td>
                        </tr>
                        <tr>
                          <td>Resistance 2</td>
                          <td>{{ anomaly.R2 }}</td>
                        </tr>
                        <tr>
                          <td>Current 1</td>
                          <td>{{ anomaly.C1 }}</td>
                        </tr>
                        <tr>
                          <td>Current 2</td>
                          <td>{{ anomaly.C2 }}</td>
                        </tr>
                        <tr>
                          <td>Increase Load 1</td>
                          <td>{{ anomaly.incLoad1 }}</td>
                        </tr>
                        <tr>
                          <td>Decrease Load 1</td>
                          <td>{{ anomaly.decLoad1 }}</td>
                        </tr>
                        <tr>
                          <td>Increase Load 2</td>
                          <td>{{ anomaly.incLoad2 }}</td>
                        </tr>
                        <tr>
                          <td>Decrease Load 2</td>
                          <td>{{ anomaly.decLoad2 }}</td>
                        </tr>
                        <tr>
                          <td>Close Load 1</td>
                          <td>{{ anomaly.closeLoad1 }}</td>
                        </tr>
                        <tr>
                          <td>Close Load 2</td>
                          <td>{{ anomaly.closeLoad2 }}</td>
                        </tr>
                        <!-- Add rows for other fields -->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            {% endfor %}
            </div>


            </div>
          </div>

        </div>

        
            </div>
         

        
    </section>

  </main><!-- End #main -->
  {% endblock %}

  


