<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css'%}" />
    <script
      src="https://kit.fontawesome.com/836a943e18.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{% static './images/favicon-32x32.png' %}"
    />
    <title>
      SurvAillant landing page
    </title>
  </head>
  <body>
    <header>
        <div></div>
    </header>
    <main>
      <section class="hero">
        <img src="{% static 'images/sh.png' %}" alt="Security Picture"/>
        <h2 class="first-title-heading">
          SurvAillant
        </h2>
        <p>
          Securing SCADA Based Systems through Proactive Monitoring, audit and Control
        </p>
        <a class="cta" href="signin">Get Started</a>
      </section>
      <center>
        <h2 class="first-title-heading">
            <br>Services We Provide
        </h2>
    </center>
      <section class="features">
        <div class="feature">
          <img src="{% static 'images/icon-access-anywhere.svg' %}" alt="Access anywhere" />
          <h3 class="second-title-heading">Network Traffic Monitoring</h3>
        </div>

        <div class="feature">
          <img src="{% static 'images/icon-security.svg' %}" alt="Security you can trust" />
          <h3 class="second-title-heading">Security Threat Detection</h3>
        </div>

        <div class="feature">
          <img
            src="{% static 'images/icon-collaboration.svg' %}"
            alt="Real-time collaboration"
          />
          <h3 class="second-title-heading">Anomaly Detection</h3>
        </div>

        <div class="feature">
          <img src="{% static 'images/icon-any-file.svg' %}" alt="Any file" />
          <h3 class="second-title-heading">Notification System</h3>
        </div>
      </section>
    </main>
  </body>
</html>
