{% extends "header.html" %} 
{% block content %} 


  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Admin Panel</h1>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        
        <div class="col-xl-12">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">
                
                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <!-- <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li> -->

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings">Manage Permissions</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">SCADA Administrator</div>
                    <div class="col-lg-9 col-md-8">{{ current_user.username }}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Email</div>
                    <div class="col-lg-9 col-md-8">{{ current_user.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Date Joined</div>
                    <div class="col-lg-9 col-md-8">{{ current_user.date_joined }}</div>
                  </div>
                  {% if messages %}
                      {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}" role="alert">
                              {{ message }}
                          </div>
                      {% endfor %}
                  {% endif %}

                  
 

                </div>

                <!-- <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <!-- <form>
                    

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Full Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="fullName" type="text" class="form-control" id="fullName" value="Admin">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="email" class="form-control" id="Email" value="@example.com">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="company" class="col-md-4 col-lg-3 col-form-label">Company</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="company" type="text" class="form-control" id="company" value="Scada">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Scada Location</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="locaion" type="text" class="form-control" id="location" value="locationr">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Total PLC</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="plc" type="text" class="form-control" id="plc" value="plc">
                      </div>
                    </div>
                    <div class="text-center">
                      <button style="background-color: #36476B;" type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                <!-- </div> --> 

                <div class="tab-pane fade pt-3" id="profile-settings">

                  <!-- Settings Form -->
                  <section class="section">
                    <div class="row">
                        {% for user in unapproved_users %}
                            <div class="col-lg-8">
                                <div class="alert alert-primary alert-dismissible fade show" role="alert" style="display: flex; align-items: center;">
                                    <p class="permissions">{{ user.username }} has requested access to Survaillant.</p>
                                    <hr>
                                    <div class="button-container " style="padding-left:50px;">
                                        <a href="{% url 'approve_user' user_id=user.id %}" class="btn btn-primary rounded-pill">Approve</a>
                                        <button style="margin-left:15px;" class="btn btn-danger rounded-pill">Deny</button>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </section>
                

                </div>

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form id="changePasswordForm" method="post" action="{% url 'change_password' %}">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="current_password" type="password" class="form-control" id="currentPassword">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="new_password" type="password" class="form-control" id="newPassword">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                        <div class="col-md-8 col-lg-9">
                            <input name="renew_password" type="password" class="form-control" id="renewPassword">
                        </div>
                    </div>
                    <div class="text-center">
                        <button style="background-color:#36476B" type="submit" class="btn btn-primary">Change Password</button>
                    </div>
                </form>
              </div>
              
              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->

{% endblock %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
